@model IEnumerable<Mood_Food.Models.Category>
@{
    Layout = null;
}
<ul class="nav justify-content-center">

    <li class="nav-item">
        @Html.ActionLink("Całe menu", "Products", "Product", new {category="" }, new { @class = "btn btn-success nav-link" })
    </li>

    @foreach (var item in Model)
    {
        <li class="nav-item">
            @Html.ActionLink(item.Name, "Products", "Product", new { category = item.Name }, new { @class = "btn btn-danger ml-2 mb-2 nav-link" })
        </li>
    }
</ul>