@using Mood_Food.Models
@model List<Product>
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<div>Testujemy</div>
<div>@ViewBag.TestValue</div>


<br />


@foreach (var item in Model)
{
    <li>@item.Name</li>
}
