.nounderline {
    text-decoration: none !important
}

.MlightColor {
    background-color: #e9cca0;
}

.border-3 {
    border-width: 5px !important;
}

body {
    background-image: url(Images/background.png);
}

.jumbotron {
    padding-bottom: 40px;
    padding-top: 2px;
}

ul {
    list-style-type: none;
}


main {
    padding-left: 15px;
    padding-right: 15px;
}

.input-validation-error{
    background-color: #eaa9a9;
}
