body{
   background-image: url(Images/background.png);
}

.jumbotron {
    padding-bottom: 40px;
    padding-top: 2px;
}
    .MlightColor{
    background-color:#e9cca0;
}

main {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}
